body{
  background: white;
  margin: 0px;                        /*PREF: get everything flush with the edges*/
  overflow-x: hidden;
  font-family: "League Gothic", "Serif";
}
ul{
  padding: 0;
  margin: 0;
}
li{
  display: inline-block;
}
a{
  text-decoration: none;
}
a:hover{
  color: #cc9900;
  background: #555555;
  border-radius: 10px;
}

.my-navbar{
  position: fixed;                    /*position is fixed relative to the screen; will overlay body if no margin is added*/
  background: white;
  list-style-type: none;              /*no bullets*/
  top: 0px;                           /*needs to be specified or it'll move with #main, for some reason*/
  left: 0px;
  right: 0px;
  z-index: 99;                          /*all elements other than img will go under the navbar by default. Set high for img.*/
  font-size: 1.4em;
  text-align: right;
}
.navbar-menu{
  text-align: right;
}
.navbar-menu *{
  display: inline-block;
}
.navbar-menu > *{
  margin: 0 5px 0 5px;
}
.navbar-menu a{
  padding: 5px;
}
.navbar-menu > :nth-child(1){
  float: left;
}
.navbar-menu > :nth-child(2){
  float: left;
}
.list-icons a{
  display: block;
  text-decoration: none;
}


.main{
  text-align: center;
  background: white;
  font-size: 1.5em;
  margin-top: 37px;
}
.main *{
  margin: 2px;
}

#introduction{
  padding: 200px 0 300px 0;
  background: url(http://i.imgur.com/v3Z5sxC.jpg);
  background-size: cover;
  background-attachment: fixed;
  border: 2px outset #888888;
  border-radius: 10px;
}
.intro-wrapper{
  width: 100%;
  display: table;
  height: 200px;
  border-spacing: 100px 10px;
}
.intro-tile{
  display: table-cell;
  width: 15%;
  padding: 15px;
  vertical-align: middle;
  font-size: 0.75em;
  background: #f0ead6;
  border-radius: 15px;
}
#intro-face{
  background: url("https://cloud.githubusercontent.com/assets/11493384/9555077/78d85df0-4d90-11e5-9d1f-7c30a439e77a.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#portfolio{
  padding: 150px 0 300px 0;
}

#contact{
  padding: 300px 0 300px 0;
  font-size: 1.1em;
}
#contact > *{
  margin: 5px;
}
#contact > ul{
  transform: scale(1.75,1.75);          /*want transform because it accentuates ALL effects, not just font-size; */
}                                        /*but also can't just apply it to the buttons, as transform takes element out of layout flow*/
#contact > :last-child{
  margin-top: 20px;                       /*offset to account for transform*/
}
.button-king{
  padding: 0px;                                                     /*remove padding so block link covers whole button*/
  color: #551A8B;                                                    /*default color for visited links; I liked it, so overriding here*/
}
.button-king a{
  padding: 5px;
}
.button-king:hover{
  background: #555555;
  border-radius: 10px;
}
