body{
  background: red;
  margin: 0px;                        /*PREF: get everything flush with the edges*/
  overflow-x: hidden;
}

.my-navbar{
  position: fixed;                    /*position is fixed relative to the screen; will overlay body if no margin is added*/
  background: #f0ead6;
  list-style-type: none;              /*no bullets*/
  top: 0px;                           /*needs to be specified or it'll move with #main, for some reason*/
  left: 0px;
  right: 0px;
  z-index: 99;                          /*all elements other than img will go under the navbar by default. Set high for img.*/
}
ul{
  padding: 0px;                       /*has padding-left by default*/
}
#navbar-menu{
  margin: 0px;                        /*default margins extend my-navbar by 30px, to 62px*/
  width: 100%;
  text-align: right;
  border-bottom: 2px solid #888888;
}
#navbar-menu *{                       /*can't just be .my-navbar li because the navbar includes a nested struct of icons. Gotta be all child*/
  display: inline-block;                    /*all li should be displayed as an inline item, not block (all on single line)*/
}
li{
  display: inline-block;        /*all li should be displayed inline, even those not in the navbar*/
}
#navbar-menu > :first-child{
  float: left;
}
#navbar-menu > :nth-child(2){
  float: left;
}
#navbar-menu > *{
  padding: 0 5px 0 5px;                             /*make some room! All direct children get padding around their elements.*/
}
.my-navbar a{
  font-family: "Georgia", "Serif";
  text-decoration: none;
  padding: 5px;                            /*without padding, the navbar-menu's children have 0 padding. This holds everything in place*/
}
.my-navbar a:hover{
  color: #cc9900;
  background: #555555;
  border-radius: 10px;
}
.list-icons a{
  display: block;
  text-decoration: none;
}

#main{
  background: white;
  margin: 27px 0px 0px 0px;                 /*margin is exact for block type navbar, not for inline*/
  padding: 0px;
  text-align: center;
  font-size: 2em;
}
#main > *{
  padding: 300px 0px 300px 0px;
  border-radius: 15px;
  border-top: 2px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 2px solid white;
  text-shadow: 0px 0px 1px #cc9900;
  color: white;
}
#main *{
  margin: 0px;
}
#intro{
  background: url(https://cloud.githubusercontent.com/assets/11493384/9318739/4a358a86-450c-11e5-9281-b94689f052cb.JPG);
  background-attachment: fixed;
  background-size: cover;
}
#portfolio{
  background: url(https://cloud.githubusercontent.com/assets/11493384/9337224/b8476462-45a3-11e5-92b3-1ea7525dbf31.png);
  background-attachment: fixed;
  background-size: cover;
  text-shadow: 0px 0px 1px white;
  color: black;
}
#contact{
  background: url(https://cloud.githubusercontent.com/assets/11493384/9318739/4a358a86-450c-11e5-9281-b94689f052cb.JPG);
  background-attachment: fixed;
  background-size: cover;
}
#contact > ul {
  transform: scale(2,2);
}
#contact a{
  padding: 5px;                                                     /*increase size of hyperlink to replace lost padding from button*/
  color: inherit;
}
button{
  padding: 0px;                                                     /*remove padding so block link covers whole button*/
  color: #551A8B;                                                    /*default color for visited links; I liked it, so overriding here*/
}
button:hover{
  color: #cc9900;
  background: #555555;
  border-radius: 10px;
}
h4{
  transform: translateY(75%);
}
.row-simulator *{
  width: 200px;
  height: 200px;
}
img{
  opacity: 0.25;
}
img:hover{
  border-radius: 10px;
  opacity: 1;
}

/*list of nice colors:
    background: #d6f0ea;
    background: #d6dcf0;
    background: #f0ead6;
    background: #302a16;
*/
