body{
  background: url(http://pre11.deviantart.net/8dfa/th/pre/f/2013/186/1/a/earth___tierra_wallpaper_hd_by_krysis08-d6c43f4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;                        /*PREF: get everything flush with the edges*/
  overflow-x: hidden;
  font-family: "League Gothic", "Serif";
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  display: block;
  padding: 6px;
  color: #cc9900;
}

.my-navbar-vertical{
  position: fixed;
  background: #000020;
  height: 100%;
  top: 0;
  border-right: 2px solid #aa7700;
  width: 30px;
}
.my-navbar-vertical a:hover{
  background: #5555a0;
  border-radius: 5px;
  width: 50px;
  color: #ffbb00;
  text-align: right;
}
.navbar-menu-vertical{
  text-align: center;
  font-size: 1.1em;
}

.my-navbar-mini{
  position: fixed;
  background: #000020;
  top: 0;
  right: 0;
  border: 1px solid #cc9900;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.my-navbar-mini li{
  display: inline-block;
}
.my-navbar-mini a:hover{
  background: #5555a0;
  color: #ffbb00;
}

.main > div{
  background: #ccccff;
  top: 200px;
  margin: 150px 0 150px 1300px;
  width: 100%;
  height: 400px;
  border: 1px solid #cc9900;
  white-space: nowrap;                                              /*Text will never wrap*/
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.main > div:hover{
  border-radius: 0;
  margin-left: 30px;
  width: auto;
}
.main > div:hover *{
  visibility: initial;
}

#introduction{
  margin-top: 150px;
}
#portfolio{

}
#contact{
  background: url(http://i.imgur.com/7BaVQWU.jpg);
}
#contact ul{
  height: 100%;
  width: 530px;
}
#contact a{
  margin: 4px auto 4px auto;
  background: #336699;
  width: 150px;
  padding: 15px;
  display: block;
  border-radius: 15px;
  color: #99ffcc;
  font-size: 1.3em;
  text-align: center;
  transition: width 1s;
}
#contact a:hover {
  width: 500px;
  background: linear-gradient(to right,#99bbff,#336699,#99bbff);
}
#contact i{
  font-size: 3.5em;
}

.main-tile{
  width: 50%;
  background: orange;
  border: 2px solid white;
  display: inline-block;
}
#wrapper-headshot{
  height: 100%;
  margin-top: -10px;
  text-align: center;
  font-size: 2em;
  margin-right: 75px;
}
#headshot{
  margin: auto;
  background: url("https://cloud.githubusercontent.com/assets/11493384/9555077/78d85df0-4d90-11e5-9d1f-7c30a439e77a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
