<!doctype html>
<html ng-app='champApp'>

<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <link type='stylesheet' href='index.css'>
  <script src='../javascript/champions.modules.js'></script>
  <script src='../javascript/controllers/controller.champions.js'></script>
  <script src='../javascript/services/service.draw.js'></script>
  <script src='../javascript/services/service.search.js'></script>
</head>

<body ng-controller='ChampCtrl as main'>
  <div>
    <form ng-submit='main.update(name)'>
      <input type="text" ng-model='main.name'>
      <button type='submit'>Find Champion</button>
    </form>
  </div>
</body>

</html>
