* {
  /*padding: 2px;*/
}

body {
  background: linear-gradient(#118899, #000219);
  background-attachment: fixed;
}

input {
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid #daa520;
  border-radius: 6px;
  color: white;
  background-color: #222222;
  outline: none;
  text-align: center;
  font-family: "Friz Quadrata" "Tahoma" monospace;
  font-size: 25px;
}

button {
  border-radius: 25px;
  padding: 0 25px 0 25px;
  background-color: white;
  border: 2px solid gray;
  outline: none;
}

button:hover, button:focus{
  background-color: #daa520;
}

.parent {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  background-color: #333333;
  background: linear-gradient(to left, #333333, #666666, #333333);
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.transparent{
  opacity: 0.25;
}

#portrait{
  padding: 0px;
  border: 2px solid #a77200;
  box-sizing: border-box;
}

#topnavParent {
  border-top: 5px solid #966200;
}

#portraitParent {
  padding-bottom: 15px;
  border-bottom: 5px solid #966200;
}
