<!doctype html>
<html ng-app='champApp'>

<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <link type='stylesheet' href='index.css'>
  <script src='../javascript/champions.modules.js'></script>
  <script src='../javascript/services/service.skew.js'></script>
  <script src='../javascript/services/service.search.js'></script>
  <script src='../javascript/services/service.load.js'></script>
  <script src='../javascript/controllers/controller.champions.js'></script>
  <!-- note the use of '..' to cd out to the parent directory first -->
</head>

<body ng-controller='ChampCtrl as main'>
  <div class='topnav'>
    <button>View Splash</button>
    <input type='text' ng-model='newName' ng-init='newName="Fizz";'>
    <button ng-click='main.update(newName)'>Find Champion</button>
  </div>
  <div>
    <p>{{main.name}}</p>
    <!-- <img ng-src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{main.champion}}_0.jpg'/> -->
    <canvas id='ribbon' width=900  height=600></canvas>
  </div>
  <div>
    <table>
      <tr>
        <td></td>
      </tr>
    </table>
  </div>

</body>

</html>
