<!doctype html>
<html ng-app='champApp'>

<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <link rel='stylesheet' href='index.css'>
  <script src='../javascript/champions.modules.js'></script>
  <script src='../javascript/services/service.skew.js'></script>
  <script src='../javascript/services/service.search.js'></script>
  <script src='../javascript/services/service.load.js'></script>
  <script src='../javascript/controllers/controller.champions.js'></script>
  <!-- note the use of '..' to cd out to the parent directory first -->
</head>

<body ng-controller='ChampCtrl as main'>
  <div class='parent' id='topnavParent'>
    <input type='text' ng-model='main.newName'>
    <button ng-click='main.update(main.newName); main.portrait(main.newName, 0)'>Find Champion</button>
  </div>
  <div class='parent' id='portraitParent'>
    <div ng-show='main.name'>
      <img ng-src='{{main.portrait(main.name, cell)}}' id='portrait'>
    </div>
    <div>
      <table>
        <tr ng-repeat='row in main.tblInfo'>
          <td ng-repeat='cell in row'>
            <img class='thumbnail' ng-src='{{main.thumbnail(cell)}}' ng-click='main.setCell(cell)'>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>
